<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <!-- Bootstrap CSS 추가 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h2>로그인</h2>
    <form th:action="@{/user/login}" method="post">
        <div class="form-group">
            <label for="username">사용자ID 또는 이메일</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="사용자ID 또는 이메일을 입력하세요" required>
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
        </div>

        <!-- 로그인 오류 메시지 표시 -->
        <div th:if="${loginError}" class="alert alert-danger">
            <p>사용자ID 또는 비밀번호가 잘못되었습니다.</p>
        </div>

        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>
<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
